@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

  /* PT Sans Narrow */
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

input {
    padding: 22px;
}

body {
    font-family: 'PT Sans', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu__link {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding: 19px 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 71px;
    align-items: center;
    height: 65px;
    flex-wrap: wrap;
}
.navigation-link {
    color: #000;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    display: block;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.navigation-link__btn {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background: #756257;
    border-radius: 4px;
    padding: 10px 40px;
}
.navigation-list {
    display: flex;
}
.navigation-item {
    padding: 23px 21px;
    display: block;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 508px;
	background-image: url("../img/bg.jpg");
	background-position: 100% 22%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.intro img {
	margin-top: 76px;
	margin-bottom: 0;
	padding: 0;
}

.info {
    text-align: center;
    margin-top: 63px;
}

.title__info {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0 0 36px 0;
}

.subtitle__info {
    font-size: 22px;
    line-height: 36px;
    margin: 0 0 79px 0;
}

.advantages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.advantages__leftside {
    background: #83B3D3;
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages__info {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

.advantages__numbers {
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
    font-size: 18px;
}

.advantages__subtext {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    width: 220px;
    height: 73px;
    margin: 0 auto;
}

.bg-container__advantages {
    background: #83B3D3;
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services {
    max-width: 1200px;
    margin: 0 auto;
}

.services__item-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    text-align: center;
    width: 400px;
    height: 384px;
}

.services__info {
    max-width: 250px;
    height: 73px;
    margin: 0 auto;
    line-height: 21px;
    padding-top: 30px;
}

.services__list {
    display: flex;
    margin: 0 auto;
}

.services__title {
    padding-top: 21px;
    text-transform: uppercase;
}

.services__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(131, 179, 211, 0.12);
    text-align: center;
    width: 400px;
    height: 384px;
}

.about {
    max-width: 1200px;
    margin: 0 auto;
}

.about__list {
    background: rgba(131, 179, 211, 0.12);
    display: flex;  
    text-align: center;
    height: 384px;
}

.about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__item-grey {
    background: rgba(131, 179, 211, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    width: 400px;
    height: 60px;  
}

.about__numbers {
    font-size: 18px;
    line-height: 21px;
    width: 250px;
    height: 25px;
    padding: 25px 0 25px;
    display: inline-block;
}

.about__subtitle {
    font-size: 18px;
    line-height: 21px;
    padding: 26px 0 0 0;
    width: 250px;
    margin: 0 auto;
}

.search-data__subtitle {
    font-size: 22px;
    line-height: 26px;
}

.container {
    width: 1200px;
    height: 384px;
    margin: 0 auto;
    text-align: center;
}

.search-data__title {
    padding: 91px 0 15px 0;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 700;
}

.search-data__subtitle {
    padding: 15px 0 73px 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    width: 720px;
    height: 37px;
    margin: 0 auto;
}

.search-data__button {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    background: #756257;
    border-radius: 10px;
    padding: 13px 17px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 575px;
    height: 60px;
    margin: 71px auto;
}

.contacts {
    margin: 108px 0 0 0;
    width: 100%;
    height: 411px;
    text-align: center;
    background-image: url(../img/bg-catalog.jpg);
}

.contacts__form {
    position: relative;
}

.wrapper__contact {
    padding: 91px 0 0 0;
}

.contacts__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contacts__subtitle {
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    width: 720px;
    height: 72px;
    margin: 0 auto;
}

.contacts__button {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    padding: 17px 50px;
    position: absolute;
    transform: translateX(110px);
}

#contacts-form__email {
    width: 600px;
    height: 60px;
    background: #F2F2F2;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(250px);
}

.wrapper__footer {
    display: flex;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
}

.social {
    max-width: 200px;
}

.social img {
    margin-right: 24px;
}

.footer__phone {
    color: black;
    font-size: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.logo__footer {
    width: 115px;
}


/*    CATALOG      */

.navigation-link__btn {
    padding: 10px 36px;
}

.info-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 625px;
    padding: 30px 0;
}

.more-info__btn {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #83B3D3;
    border-radius: 4px;  
    padding: 15px 200px;
}

.filters {
    background-image: url(../img/bg-catalog.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 408px;
}

.filters__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    color: #fff;
    margin-left: 71px;
    padding-top: 30px;
}

.filters__home {
    display: flex;
}

.home-image {
    margin-left: 71px;
    margin-right: 11px;
}

.home-arrow {
    margin-right: 10px;
}

.filters__subtitle {
    color: #fff;

}

.filters-form {
    display: flex;
    margin-top: 45px;
    margin-left: 71px;
    align-items: center;
}

.filters__type {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.catalog-filters__form {
    padding-top: 30px;
    color: #fff;
}

.catalog-filters__list {
    margin-bottom: 13px;
}

.filters-form__list {
    padding-top: 30px;
    margin-left: 60px;
}

.filters-form__menu {
    color: #fff;
    margin-bottom: 13px;
}

.filters__type-second {
    margin-left: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.range {
    margin-left: 50px;
}

.range__fields {
    display: flex;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}


.header__button {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    align-items: center;
}

.header__btn {
    text-transform: uppercase;
    color: #fff;
    background: #83B3D3;
    border-radius: 4px;
    padding: 13px 17px;
    width: 160px;
    text-align: center;
}

.header__btn-clear {
    margin-top: 20px;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}


.search-form__hotels {
    margin-top: 44px;
}

.search__form-container {
    display: flex;
    align-items: center;
}

.sorting-type {
    margin-left: auto;
}

.btn__about {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #756257;
    border-radius: 4px;
    padding: 10px 35px;
    margin-right: 8px;
}

.search__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 71px;
}

.select-control {
    margin-right: 70px;
}

.btn-action__view {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    padding: 16px 17px;
    margin-right: 8px;
}

.btn__favorite {
    color: #fff;
    text-transform: uppercase;
    padding: 11px 35px;
    background: #83B3D3;
    border-radius: 4px;
}

.select-control {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    padding: 13px 0;
    width: 287px;
}

.header__btn {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    background: #83B3D3;
    border-radius: 4px;
}

.pagination-container {
    display: flex;
    padding: 16px;
    background-color: #FFFFFF;
    align-items: center;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 55px;
    padding: 14px 20px;
    line-height: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}

.pagination-link-active {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
    height: 55px;
    padding: 14px 20px;
    line-height: 16px;
    font-weight: 700;
    color: #000;
    background-color: #F2F2F2;
    text-decoration: none;
    border-radius: 4px;
}

.hotels-pages {
    margin-left: auto;
}

.select-pages {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    padding: 13px 50px;
}


/* CATALOG section hotels */

.hotel-list {
	min-height: 454px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
    margin-top: 42px;
}

.hotel {
	display: flex;
	min-height: 150px;
	margin: 0;
	padding: 0;
	list-style: none;
    margin-bottom: 50px;
    border-top: 1px solid gray;
}

.rating-image {
    display: block;
    margin: 0 auto;
    align-items: center;
}

.product-page {
	width: 135px;
	height: 90px;
	margin-top: 30px;
	margin-bottom: 0;
	margin-left: 72px;
	margin-right: 30px;
}

.content {
	width: 277px;
	min-height: 92px;
	margin-top: 24px;
	padding: 0;
    padding-left: 35px;
}

.name-hotel {
	margin-top: 0;
	margin-bottom: 7px;
	padding: 0;
}

.content-wrapper {
	display: flex;
}

.content-info {
	display: flex;
	flex-direction: column;
	margin-left: 0;
	margin-right: 6px;
}

.content-reserve {
	display: flex;
	flex-direction: column;
	margin-left: 0;
	margin-right: 0;
}

.name-hotel a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.content-wrapper {
	margin: 0;
	padding-top: 0px;
}

.type,
.price {
	margin-top: 0;
	margin-bottom: 14px;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background-color: #ffffff;
}

.button-info {
    color: #fff;
    background: #756257;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 20px;
}

.button-reserve {
    text-transform: uppercase;
    width: 160px;
    font-weight: 700;
    color: #fff;
    background: #83B3D3;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 20px;
    text-align: center;
}

.button-reserve-active {
    color: #fff;
    font-weight: 700;
    background: #7DB54F;
    border-radius: 4px;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 160px;
    margin-top: 20px;
    text-align: center;
}

.rating {
	margin-top: 30px;
	margin-bottom: 0;
	margin-right: 73px;
	margin-left: auto;
}

.hotel-rating-value {
	display: block;
    text-align: center;
	width: 140px;
	margin-top: 59px;
	margin-left: auto;
	padding: 6px 4px 4px 15px;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

/*     CONTACTS     */

.contacts__catalog-title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.contacts__catalog-subtitle {
    margin-bottom: 26px;
    font-size: 22px;
}

